:root {
    --grey: #444857;
}

html {
    box-sizing: border-box;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
    font-weight: normal;
    color: #272727;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    background: #444857;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

h1, h2, h3 h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    font-size: 0.8em;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.codepen {
    display: flex;
    flex-direction: column;
    /* grid-gap: 5px; */
    height: 100vh;
    color: #ffffff;
}

.codepen>* {
    /* border: 1px solid black; */
}

/* Editor */

.code {
    flex: 1 1 auto;
    display: grid;
    grid-template-rows: repeat(3, minmax(200px, 1fr));
    background: #333642;
    grid-gap: 10px;
    border-bottom: 15px solid #333642;
}

.editor {
    display: grid;
    grid-template-rows: auto 1fr;
    background: #1D1E22;
}

.editor__header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 5px;
    grid-gap: 5px;
    background: rgba(0, 0, 0, 0.2);
    color: #AAAEBC;
    border-bottom: 1px solid #343637;
}

h3.editor__heading {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
}

.editor__code {
    display: grid;
    grid-template-columns: auto 1fr;
}

.editor__number {
    display: block;
    padding: 0 10px;
    color: #343637;
}

.editor__input {
    resize: none;
    background: none;
    border: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
}

/* Console ----------------------------------------------------------------------------------------------------------*/

.preview {
    flex: 1 0 200px;
    display: grid;
    background: #424655;
    border-top: 1px solid #000000;
    justify-content: center;
    align-content: center;
}

.preview p {
    color: #ADAFBC;
}

/* Pen Header --------------------------------------------------------------------------------------------------------*/

.pen {
    display: flex;
    align-items: center;
    background: #1E1F26;
    /* border-bottom: 5px solid var(--grey); */
    color: #ffffff;
    padding: 0px;
    flex: 0 0 auto;
    z-index: 2;
}

.button--text {
    display: none;
}


.button--header {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    padding: 10px;
}

/* This rule below applies a yellow stripe on top of the header buttons */

/* .pen .button.button--dirty::before {
    background: #ffc600;
    display: block;
    content: '';
    height: 2px;
    width: calc(100% - 6px);
    position: absolute;
    left: 3px;
    top: 3px;
} */

.button--header>* {
    margin-left: 10px;
    flex: auto;
}

.invisible--button {
    position: absolute;
    width: 40px;
    height: 45px;
    padding: 0;
    margin: 0;
    z-index: 2;
    top: 0px;
    left: 19px;
    background: #1E1F26;
}

.button--header .image {
    width: 35px;
    height: 35px;
}

.button--header ul {
    margin: 0;
    display: none;
    list-style: none;
}

.button--header ul.open {
    z-index: -1;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 48%;
    top: 56px;
    align-items: stretch;
    animation-name: 'button-header-open';
    animation-duration: 0.6s;
}

@keyframes button-header-open {
    0%{transform: translateY(-100%);}
    100%{transform: translateY(0);}
}

.button--dirty:nth-child(1):hover::after {
    content: "Save";
    position: absolute;
    top: 0;
    right: 85%;
    padding: 5px;
    border-radius:3px;
    background: #5A6074;
}

.button--dirty:nth-child(2):hover::after {
    content: "Settings";
    position: absolute;
    top: 0;
    right: 85%;
    padding: 5px;
    border-radius:3px;
    background: #5A6074;
}

.button--dirty:nth-child(3):hover::after {
    content: "Change View";
    position: absolute;
    top: 0;
    right: 85%;
    padding: 5px;
    border-radius:3px;
    background: #5A6074;
    width: max-content;
}

.button--header ul>* {
    flex: 1 1 auto;
    margin-bottom: 5px;
}

.pen>p {
    font-size: 1em;
    margin: 0;
    padding: 10px 5px;
}

.pen__author>p {
    margin: 0;
    font-size: 0.7em;
}

.pen__author>p>span {
    color: #939DA8;
    font-size: 0.8em;
}

.pen__details {
    margin-left: 0px;
    padding: 10px 0px;
}

.fas.fa-pen:hover {
    opacity: 0.8;
    animation-name: pen;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
}

@keyframes pen {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Buttons ------------------------------------------------------------------------------------------------------------*/

.button {
    background: var(--grey);
    border: 0;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    position: relative;
    cursor: pointer;
}

.button:hover {
    background: #5A6074;
}


.button--small {
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 2px;
}

.pen .button .fas {
    color: #ADAFBC;
}

.pin--button {
    background: #1E1F26;
    border: 2px solid #444857;
    padding: 8px 7px;
    font-size: 0.8em;
    display: flex;
}

.toggle--header--button {
    background: #1E1F26;
    border: 2px solid #444857;
    padding: 8px 6px;
    font-size: 0.8em;
    z-index: 2;
}

/* footer -------------------------------------------------------------------------------------------------------------*/

.footer--settings {
    background: #333642;
    border-top: 1px solid rgb(109, 110, 116);
    display: flex;
    flex-flow: column-reverse;
    align-items: flex-start;
    position: relative;
}

.footer--settings ul {
    list-style: none;
    display: none;
}


.footer--settings ul.open {
    z-index: 0;
    display: flex;
    flex-flow: column-reverse;
    margin: 0;
    position: absolute;
    padding: 0;
    bottom: 104%;
    left: 0;
    border-top: 1px solid rgb(109, 110, 116);
    border-right: 1px solid rgb(109, 110, 116);
    animation-name: 'foot-settings-open';
    animation-duration:0.6s;
}

@keyframes foot-settings-open {
    0% {top: 304%;}
    100% {top: 0%;}
}

.button--small.toggle--footer--button {
    z-index: 1;
    padding: 3px 24px;
    font-size: 1.2em;
}

.button--black {
    color: #ADAFBC;
    padding: 8px;
    background: #333642;
    /* border-right: 1px solid rgb(109, 110, 116); */
    font-size: 0.7em;
}

.button--black:hover {
    background: #1e1f26;
}

/* media queries --------------------------------------------------------------------------------------------------*/

