/*
  Oh Hello!
  These are some base styles so that our tutorial looks good.
  Let's go through the important bits real quick
*/
:root {
    --yellow: #ffc600;
    --black: #272727;
  }
  
  html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
    font-size: 10px;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  }
  
  /*
    WAT IS THIS?!
    We inherit box-sizing: border-box; from our <html> selector
    Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
  */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    background-image: url("images/topography.svg"),
      linear-gradient(110deg, #f93d66, #6d47d9);
    background-size: 340px, auto;
    min-height: calc(100vh - 100px);
    margin: 50px;
    /* background: white; */
    background-attachment: fixed;
    letter-spacing: -1px;
  }


body {
    font-size: 15px;
}

button {
    background-color: #ffc600;
    border: 0;
    padding: 10px 20px;
}

img {
    max-width: 100%;
}

/* wrapper */

.wrapper.l-grid {
    display: grid;
    grid-gap: 20px;
}

.top.l-grid__areas {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "hero hero cta1"
        "hero hero cta2"
    ;
}

    .hero.u-grid__area {
      grid-area: hero;
    }

    .cta__1.u-grid__area {
      grid-area: cta1;
    }

    .cta__2.u-grid__area {
      grid-area: cta2;
    }

.hero {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

    .hero--taco {
        background: white url(images/taco.jpg);
        background-size: cover;
        background-position: bottom right;
        padding: 50px;
    }

    .hero--taco > * {
        background-color: var(--yellow);
}

.cta.l-grid {
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.cta--taco {
    background-color: var(--yellow);
}

.cta p {
    margin: 0;
}

.cta__price {
    font-size: 60px;
    font-weight: 300;
}

/* navigation */

.menu__list.l-grid__column--auto-fit {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(160px, 1fr));
}

.menu__list {
  padding: 0;
  list-style: none;
}

.menu__list--taco a {
  background-color: var(--yellow);
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-size: 20px;
}

[aria-controls="menu__list"] {
  display: none;
}

/* Features */

.features.l-grid__column--auto-fit {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.features__item {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ffffff;
  text-align: center;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.features__item .icon {
  font-size: 50px;
}

.features__item p {
  color: rgba(0,0,0,0.5);
}

/* About Section */

.about {
  background-color: #ffffff;
  padding: 50px;
}

.about.l-grid__column {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: center;
}

/* Gallery */

.gallery.l-grid__column--auto-fit {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery img {
  width: 100%;
}

.gallery__title {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
}

.gallery h2::before,
.gallery h2::after {
  display: block;
  content: '';
  height: 10px;
  background: linear-gradient(to var(--direction, left), var(--yellow), transparent);
}

.gallery h2::after {
  --direction : right;
}

@media (max-width: 1000px) {

  .menu {
    order: -1;
    perspective: 800px;
  }

  [aria-controls="menu__list"] {
    display: block;
    margin-bottom: 10px;
  }

  .menu__list--rotation {
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all 0.5s;
  }
  
  [aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    transform: rotateX(0); 
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }

}

@media (max-width: 700px) {
  
  .top.l-grid__areas {
    grid-template-areas: 
    "hero hero"
    "cta1 cta2";
  }

  /* About */

  .about.l-grid__column {
    grid-template-columns: 1fr;
  }

}

@media (max-width: 500px) {
  .top.l-grid__areas {
    grid-template-areas: 
    "hero"
    "cta1"
    "cta2";
  }
  
}